# Uncomment and replace with your actual data
# SUI configuration
SUI_ACCOUNT="Portfel SUI"
SUI_PRIVATE_KEY="Klucz prywatny portfela"
SUI_ENDPOINT=https://fullnode.testnet.sui.io:443
SUI_PACKAGE_ID=0x23d549962634e1d71ff3ce541a758d62dd02c5ddcfcf6d0b84a7c2345a262cf6
DAO_ID=0x23db36dd4275a4308c825cdcec64f96469cd2cec70921f3cca2f75c871c98c0d
SUI_MODULE=dao

# discord bot configuration
SUI_PRIVATE_KEY=AHGpWvZTMUUik/wRuzg4XNCS9JJBAnpMkOAAt6cSHC8g
DISCORD_BOT_TOKEN=MTM5MzQ4ODEzMjY1NzExOTM0NQ.GvjcZv.c9MExoZQyrcH1jV2vs_M17OaoYmPA2BE_72eSU
DISCORD_CHANNEL_ID=1393490804231766028
TARGET_DISCORD_USERNAME_ID="Prywatny ID z discorda"

