# Uncomment and replace with your actual data
# SUI configuration
SUI_ACCOUNT="Portfel SUI"
SUI_PRIVATE_KEY="Klucz prywatny portfela"
SUI_ENDPOINT=https://fullnode.testnet.sui.io:443
SUI_PACKAGE_ID=0x0be12aff486716e3a05a4fc2f6e900d73bd0dc1b1e51c9b2e4fa048fe3142c53
DAO_ID=0x3cea639462c82e0254e71c6f52497132def0ca1f0f7a5789aef1d4d7487a0bbb
SUI_MODULE=governance

# discord bot configuration
SUI_PRIVATE_KEY=AHGpWvZTMUUik/wRuzg4XNCS9JJBAnpMkOAAt6cSHC8g
DISCORD_BOT_TOKEN=MTM5MzQ4ODEzMjY1NzExOTM0NQ.GvjcZv.c9MExoZQyrcH1jV2vs_M17OaoYmPA2BE_72eSU
DISCORD_CHANNEL_ID=1393490804231766028
TARGET_DISCORD_USERNAME_ID="Prywatny ID z discorda"

